.container {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    direction: rtl;
    width: 875px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: "Yekan Bakh";
}

.table {
    width:875px;
    border-collapse: collapse;
    text-align: right;
}

.table th {
    background-color: rgba(243, 243, 243, 1);
    padding: 15px 15px 10px 100px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    height: 55px;
    font-family: "Vazirmatn";
}

.table td {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 300;
    padding: 20px;
}


.emptyBox {
    padding: 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
}
